body {font-family: Arial;
background-color: #202327;}

.container-main{
  
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 80px;
  width: 300px;
  height: 300px;
  /* padding: 20px; */
  padding-top: 15px;
  color: #4a4d52;
  background-color: #282b30;
}

/* Style container logo  */
.container--logo{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* width: 320px; */
  
}

.container--logo img {
  width: 130px;
}

/* Style the tab */
.tab {
  background-color:#282b30 ;
  width: 100%;  
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
   display: flex;
   justify-content: space-around;
  /* flex-wrap: nowrap;  */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: #4a4d52;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #b32442;
  border-bottom: 2px solid red;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #b32442;
  border-bottom: 2px solid red;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  /* margin: 0 auto; */
  padding-left: 20px;
  padding-top: 20px;
  /* padding: 6px 12px; */
  /* border: 1px solid #ccc; */
  border-top: none;
  width: 100%;
  height: 240px;
}
.displaynone{
  display: none;
}
.tabcontent .tab--input{
  background-color: inherit;
  width: 250px;
  height: 30px;
  /* border-color: 1px #4a4d52; */
  border: 2px solid #4a4d52;
  border-radius: 8px;
  
  
  outline: none;
  margin-bottom: 20px;
}

/* ---styles container button------ */

.container--btn{
  width: 260px;
}
.container--btn input {
  background-color: #b32442;
  color: white;
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: none;
}
.container--btn input:hover{
  background-color: #202327;
  color: whitesmoke;
  cursor: pointer;
}

/* --------------------------------index2------------------------------- */

/* -----------just borders------------------------------ */
.main--header{
  border: 1px solid #4a4d52;
  border-left: none;
  border-right: none;
}

/* --------index.html2-------------------------------------------------- */

.main--container{
  width: 100%;

  height: 100vh;
  /* min-width: 288px; */
  display: flex;
  justify-content: space-between;
}

.nav--left-container{
  background-color: #282b30;
  width: 240px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.nav--logo{
  margin-top: 20px;
}

.nav--logo img{
   width: 170px;
}
.nav--left-container .nav--left-button{
  text-decoration: none;
  width: 200px;
  font-size: 20px;
  padding-left: 20px;
  padding: 10px;
  margin-top: 30px;
  border-radius: 12px;
  color: white;
  background-color: #b32442;
  
}
.nav--left-container .nav--left-button span img{
  width: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
/* ------------------------------------------------------------ */


/* -------------------------styles center-------------------------- */
.cards--center-container{
  width: 850px;
}

.main--header{
  /* position: fixed; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.header--button{
  background-color: #282b30;
  padding: 10px 15px 20px 20px;
  /* padding-top: 5px; */
  /* border: 1px solid black; */
  height: 5px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 8px;
}
.header--button span{
  padding-top: 15px;
}
.header--button a{
  background-color: red;
}
.header--button .mode{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.header--button .translate{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.main--header .button-profile img {
  border-radius: 100%;
  margin-right: 15px;
}
.main--header .button-profile h3{
  font-size: 15px;
  padding-top: 10px;
}
.main--header .button-profile .arrow{
  margin-left: 5px;
  display: flex;
}
.main--header .button-profile{
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* ----------------------------------------------------------------------------- */


/* ----------------------cards-------------------------------------------------------- */

.cards--center-container .cards--container{
  width: 100%;
  height: 180px;
  padding-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards--container .card{
  background-color: #282b30;
  width: 250px;
  height: 150px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.95);
  border-radius: 16px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.cards--container .card h2{
  color: #b32442;
  /* font-family: 'Pacifico', cursive; */
  font-style: italic;
}

.card img {
  width: 12px;
  margin-right: 5px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* ---------------------styles table content------------------------------------------------------ */

.container--table{
  color: white;
  /* border: 1px solid red; */
  height: 360px;
  width: 100%;
}
.container--table h1{
  font-size: 24px;
  text-align: center;
}
.container--table table{
  background-color: #282b30;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.95);
  margin:  0 auto;
  padding: 20px;
  width: 95%;
  height: 200px;
  padding-bottom: 100px;
}

.container--table table > th,td {
  border-bottom: 1px solid #4a4d52;
  padding: 10px;
  text-align: left;
}
.container--table th {
  border-bottom: 1px solid #4a4d52;
  text-align: left;
  color: #4a4d52;
}

.container--table table tr td img {
  width: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* -------------------styles nav right------------------------------------------------------------------ */
.container--currency-right{
  width: 230px;
  background-color: #282b30;
}

.container--currency-right .currency-right{
  border-bottom: 1px solid  #4a4d52;
  margin: 0 auto;
  width: 200px;
  height: 40px;
}
.container--currency-right .currency-right h3 {
  color: white;
}
.container--currency-right .currency--status{
  padding-top: 40px ;
  padding-left: 20px;
}
.container--currency-right .currency--status p{
  width: 40px;
  height: 40px;
  /* border: 1px solid white; */
  border-radius: 12px;
  background-color: #b32442;
  display: flex;
  align-items: center; 
  color: white;
}
.container--currency-right .currency--status span {
  padding-right: 10px;
}

.container--currency-right .currency--status span img {
  padding: 8px 12px;
  width: 15px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.container--currency-right .currency--status span .bitcoin-icon {
  width: 20px;
  padding: 10px 10px;
}










